*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #31285f;
    color: #fff;
}
form{
    margin-bottom: 20px;
}
.button-link{
    color: #fff;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 20px;;
}
h1{
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    background: #19123d;
    padding: 20px;
}
.form input,.form textarea{
    border: 0;
    resize: none;
    border: 1px solid #fff;;
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 10px;
}
.form-login input{
    margin: 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;
}
button{
    border: 0;
    border-radius: 4px;
    background-color: #7359f8;
    color: #fff;
    font-size:18px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.4s;
    padding: 5px 10px;
    font-weight: bold;
}
.btn-small{
    font-size: 16px;
}
.btn-large{
    padding: 10px;
}
button:hover{
  background-color: #7491e7;
  transition: 0.4s;
}
.form label{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.feedback{
    font-weight: bold;
    color: #f2f203;
    height: 17px;
    margin: 5px 0;
    font-size: 14px;
}
textarea {
    min-height: 120px;
}
img#loading {
    position: absolute;
    width: 40px;
    left: 50%;
    margin-left: -20px;
}

@media(min-width: 779px) {
    .form-login{
        padding: 40px;
    }
}

@media(min-width: 992px){
    h1{
        font-size: 48px;
    }
}