*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0d0a0a;
}
form{
    margin-bottom: 20px;
}
.button-link{
    color: #fff;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 20px;;
}
h1{
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}
.form input{
    border: 0;
    resize: none;
    border: 1px solid #fff;;
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 10px;
}
.form button{
    border: 0;
    border-radius: 4px;
    background-color: #3366ff;
    color: #fff;
    font-size:18px;
    padding: 10px;
    margin-top: 5px;
}
button:hover{
  background-color: #7491e7;
}
.form label{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

@media(min-width: 992px){
    h1{
        font-size: 48px;
        margin-bottom: 60px;
    }
}